---
layout: default
---
<link href="/css/override.css" rel="stylesheet" type="text/css">
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>

      {% assign author = page.author | default: site.author %}
      {%- if author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name"><a href="https://github.com/staabm">{{ author }}</a></span></span>
      {%- endif -%}

      <span>
      {% for tag in page.tags %}
          •
          <a href="/archive.html#{{ tag | slugify }}">
              #{{ tag }}
          </a>
      {% endfor %}
      </span>
    </p>
  </header>

  <div class="share-links">
    {% include sharelinks.html %}
  </div>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}

    <p><i>Found a bug? Please {% github_edit_link "help improve this article" %}.</i></p>

    {% include navlinks.html %}
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.5.1/build/styles/default.min.css">
<script type="module">
  import hljs from 'https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.5.1/build/es/highlight.min.js';
  //  and it's easy to individually load additional languages
  import php from 'https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.5.1/build/es/languages/php.min.js';
  hljs.registerLanguage('php', php);

  document.addEventListener('DOMContentLoaded', (event) => {
    document.querySelectorAll('pre code.language-php').forEach((el) => {
      hljs.highlightElement(el);
    });
  });
</script>