name: "Generate OG Images"
on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

concurrency:
  group: og-image-${{ github.head_ref || github.run_id }} # will be canceled on subsequent pushes in pull requests but not branches
  cancel-in-progress: true

jobs:
  generate_og_job:
    runs-on: ubuntu-22.04
    name: Generate OG Images
    if: github.event.pull_request.draft == false

    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Generate Image
        uses: BoyWithSilverWings/generate-og-image@2.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_CONTEXT: ${{ toJson(github) }}
        with:
          path: "images/og-images/"
          commitMsg: "generated og-image"
          fontColor: "#000000"
          background: "#ffffff"
